/*  row section */
#row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}
#row #form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
